<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Detail Pengiriman Barang</title>

  <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<section id="breadcrumbs" class="breadcrumbs">
  <div class="row d-flex mx-3 justify-content-">
    <a href="/pengiriman-barang">
      <i class="ri-arrow-left-s-line">List Pengiriman Barang</i>
    </a>
  </div>
  <main id="main">
    <section>
      <div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
        <div class="container" data-aos="fade-up">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <div class="new_card p-3 py-5">
                <div class="d-flex justify-content-center mb-4">
                  <h4 class="text-center">Detail Pengiriman Barang</h4>
                </div>
                <div class="row mt-5 d-flex justify-content-center">
                  <div class="col-md-5">
                    <label class="labels">No. Permintaan Pengiriman</label>
                    <p th:text="${mahasiswa.npm}"></p>
                  </div>
                  <div class="col-md-5">
                    <label class="labels">Waktu Permintaan</label>
                    <p th:text="${mahasiswa.email}"></p>
                  </div>
                </div>
                <div class="row mt-4 d-flex justify-content-center">
                  <div class="col-md-5">
                    <label class="labels">Karyawan Bertugas</label>
                    <p th:text="${mahasiswa.namaDepan} + ' ' +  ${mahasiswa.namaBelakang}"></p>
                  </div>
                  <div class="col-md-5 mb-2">
                    <label class="labels">Waktu Pengiriman</label>
                    <p th:text="${mahasiswa.namaDepan} + ' ' +  ${mahasiswa.namaBelakang}"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
              <div class="col">
                <h2>List Irs</h2>
              </div>
              <div class="col text-lg-end">
                <a class="btn btn-primary" th:href="@{/mahasiswa/} + ${mahasiswa.npm} + @{/create-irs}">Tambah Irs</a>
              </div>
            </div>
            <br />
            <div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
              <div class="container">
                <div th:if="${listIrs.size() != 0}">
                  <div class="row d-flex justify-content-center">
                    <table class="content-table">
                      <thead>
                      <tr>
                        <th style="text-align: center" scope="col">ID</th>
                        <th style="text-align: center" scope="col">Semester</th>
                        <th style="text-align: center" scope="col">Total SKS</th>
                        <th scope="col">Status</th>
                        <th scope="col" style="vertical-align : middle;text-align:center;">Action</th>
                      </tr>
                      </thead>
                      <tbody th:each= "irs, iterationStatus : ${listIrs}">
                      <tr>
                        <th style="text-align: center" th:text="${iterationStatus.count}"></th>
                        <td style="text-align: center" th:text="${irs.semester}"></td>
                        <td style="text-align: center" th:text="${irs.jumlahSks} + ' SKS'"></td>
                        <td th:text="${irs.status}"></td>
                        <td style="vertical-align : middle;text-align:center;">
                          <a class="btn btn-primary" th:href="@{/mahasiswa/} + ${mahasiswa.npm} + @{/} + ${irs.id}">Detail</a>
                          <a class="btn btn-secondary" th:href="@{/mahasiswa/} + ${mahasiswa.npm} + @{/} + ${irs.id} + @{/update}">Edit</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div th:unless="${listIrs.size() != 0}">
                  <div class="mt-5 justify-content-center" style="padding-bottom: 3%">
                    <h5 class="text-center text-warning" th:text="'--Belum ada IRS yang terdaftar--'"></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>
