<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Silogistik</title>

    <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
    <body>
        <header th:fragment="header" id="header" class="fixed-top" style="background: rgba(0, 0, 0, 0);">
            <div class="container d-flex align-items-center justify-content-lg-between">

                <h1 class="logo me-auto me-lg-0"><a href="/">Si<span>logistik</span></a></h1>

                <nav th:fragment="navbar" id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li class="nav-item"><a class="nav-link" th:href="@{/}"><span>Home</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/}"><span>Gudang</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/}"><span>Barang</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/}"><span>Permintaan Pengiriman</span></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/}"><span>Karyawan</span></a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
            </div>
        </header>
        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container" data-aos="fade-up">

                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                    <div class="col-xl-6 col-lg-8">
                        <h1>Selamat Datang di<span> Silogistik!</span></h1>
                        <!-- <br> -->
                        <!-- <h2>List of Features<span>:</span></h2> -->
                    </div>
                </div>

                <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                    <div class="col-xl-2 col-md-4">
                        <div class="icon-box">
                            <i class="ri-building-2-line"></i>
                            <h3><a th:href="@{/gudang}">Gudang</a></h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="icon-box">
                            <i class="ri-shopping-bag-3-line"></i>
                            <h3><a th:href="@{/barang}">Barang</a></h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="icon-box">
                            <i class="ri-send-plane-line"></i>
                            <h3><a th:href="@{/permintaan-pengiriman}">Permintaan Pengiriman</a></h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="icon-box">
                            <i class="ri-team-line"></i>
                            <h3><a href="">Karyawan</a></h3>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <div id="preloader"></div>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </body>
</html>