
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Detail Gudang</title>

  <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<section id="breadcrumbs" class="breadcrumbs">
  <div class="row d-flex mx-3 justify-content-">
    <a href="/permintaan-pengiriman">
      <i class="ri-arrow-left-s-line">Daftar Permintaan Pengiriman</i>
    </a>
  </div>
  <main id="main">
    <section>
      <div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
        <div class="container">
            <div class="card m-4 p-4">
                <div class="card-body">
                    <div class="text-center">
                        <h2 th:text="'Permintaan pengiriman dengan nomor ' + ${nomor} + ' berhasil dibatalkan.'"></h2>
                    </div>
                    <div class="text-center m-3">
                        <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
                        <a type="button" class="btn btn-md btn-primary" href="/permintaan-pengiriman">Lihat Semua Permintaan Pengiriman</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </main>
</section>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>
