<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Daftar Permintaan Pengiriman</title>

    <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
    <header th:replace="fragments/fragment :: header"></header>
    <section id="breadcrumbs" class="breadcrumbs">

    <main id="main">
        <section>
            <div class="container" data-aos="fade-up">
                <div class="row d-flex justify-content-center">
                    <h2 class="text-center">Daftar Permintaan Pengiriman</h2>
                </div>
                <div class="row d-flex justify-content-center mt-3">
                    <div class="col-md-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-5">
                                <div class="text-center buttons">
                                    <a class="btn btn-primary" th:href="@{/permintaan-pengiriman/tambah}"><i class="ri-add-line" style="font-size: small"></i>Tambah Permintaan Pengiriman</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="container-fluid" style="padding-bottom: 19%; display: flex; align-items: center; justify-content: center;">
                    <div class="container">
                        <div th:if="${listPP.size() != 0}">
                            <div class="row d-flex justify-content-center">
                                <table class="content-table">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center" scope="col">No</th>
                                        <th style="text-align: center" scope="col">Waktu Permintaan</th>
                                        <th style="text-align: center" scope="col">Nomor Pengiriman</th>
                                        <th style="text-align: center" scope="col">Nama Penerima</th>
                                        <th style="text-align: center" scope="col">Alamat Penerima</th>
                                        <th style="text-align: center" scope="col">Tanggal Pengiriman</th>
                                        <th style="vertical-align : middle;text-align:center;">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each= "pp, iterationStatus : ${listPP}">
                                    <tr>
                                        <td style="text-align: center" th:text="${iterationStatus.count}"></td>
                                        <td style="text-align: center" th:text="${pp.waktuPermintaan}"></td>
                                        <td style="text-align: center" th:text="${pp.nomorPengiriman}"></td>
                                        <td style="text-align: center" th:text="${pp.namaPenerima}"></td>
                                        <td style="text-align: center" th:text="${pp.alamatPenerima}"></td>
                                        <td style="text-align: center" th:text="${pp.tanggalPengiriman}"></td>
                                        <td style="vertical-align : middle;text-align:center;">
                                            <a class="btn btn-primary" th:href="@{/permintaan-pengiriman/{id}((id=${pp.idPermintaanPengiriman}))}">Detail</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:unless="${listPP.size() != 0}">
                            <div class="mt-4 justify-content-center">
                                <h5 class="text-center text-warning" th:text="'--Belum ada permintaan pengiriman yang terdaftar--'"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </section>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>
