<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Daftar Gudang</title>

    <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
    <header th:replace="fragments/fragment :: header"></header>
    <section id="breadcrumbs" class="breadcrumbs">

    <main id="main">
        <section>
            <div class="container" data-aos="fade-up">
                <div class="row d-flex justify-content-center">
                    <h2 class="text-center">Daftar Gudang</h2>
                </div>
                
                <br />
                <div class="container-fluid" style="padding-bottom: 19%; display: flex; align-items: center; justify-content: center;">
                    <div class="container">
                        <div th:if="${listGudang.size() != 0}">
                            <div class="row d-flex justify-content-center">
                                <table class="content-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama Gudang</th>
                                        <th scope="col">Alamat Gudang</th>
                                        <th scope="col" style="vertical-align : middle;text-align:center;">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each= "gudang, iterationStatus : ${listGudang}">
                                    <tr>
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${gudang.nama}"></td>
                                        <td th:text="${gudang.alamatGudang}"></td>
                                        <td style="vertical-align : middle;text-align:center;">
                                            <a class="btn btn-primary" th:href="@{/gudang/{id}(id=${gudang.idGudang})}">Detail</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:unless="${listGudang.size() != 0}">
                            <div class="mt-4 justify-content-center">
                                <h5 class="text-center text-warning" th:text="'--Belum ada gudang yang terdaftar--'"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </section>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>
