<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Daftar Barang</title>

    <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
    <header th:replace="fragments/fragment :: header"></header>
    <section id="breadcrumbs" class="breadcrumbs">

    <main id="main">
        <section>
            <div class="container" data-aos="fade-up">
                <div class="row d-flex justify-content-center">
                    <h2 class="text-center">Daftar Barang</h2>
                </div>
                <div class="row d-flex justify-content-center mt-3">
                    <div class="col-md-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-5">
                                <div class="text-center buttons">
                                    <a class="btn btn-primary" th:href="@{/barang/tambah}"><i class="ri-add-line" style="font-size: small"></i>Tambah Barang</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="container-fluid" style="padding-bottom: 19%; display: flex; align-items: center; justify-content: center;">
                    <div class="container">
                        <div th:if="${listBarang.size() != 0}">
                            <div class="row d-flex justify-content-center">
                                <table class="content-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">SKU</th>
                                        <th scope="col">Merk</th>
                                        <th scope="col">Stok</th>
                                        <th scope="col">Harga</th>
                                        <th scope="col" style="vertical-align : middle;text-align:center;">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each= "barang, iterationStatus : ${listBarang}">
                                    <tr>
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${barang.sku}"></td>
                                        <td th:text="${barang.merk}"></td>
                                        <div th:if="${barang.listGudangBarang.size() == 0}">
                                            <td >0</td>
                                          </div>
                                          <div th:unless="${barang.listGudangBarang.size() == 0}">
                                            <td th:text="${listTotalStok[__${iterationStatus.index}__]}">
                                                <!-- <span th:with="totalStok=0"></span>
                                                <th:block th:each="gudangBarang : ${barang.listGudangBarang}">
                                                    <span th:with="totalStok=${totalStok + gudangBarang.stok}"></span>
                                                </th:block>
                                                <span th:text="${totalStok}"></span> -->
                                                
                                            </td>
                                          </div>
                                        <td th:text="Rp + ${barang.hargaBarang}"></td>
                                        <td style="vertical-align : middle;text-align:center;">
                                            <a class="btn btn-primary" th:href="@{/barang/{sku}(sku=${barang.sku})}">Detail</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:unless="${listBarang.size() != 0}">
                            <div class="mt-4 justify-content-center">
                                <h5 class="text-center text-warning" th:text="'--Belum ada barang yang terdaftar--'"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </section>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>
