<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Silogistik</title>
    <head th:fragment="fonts">
        <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">
    </head>

    <head th:fragment="css">
        <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
</head>
<body>
<header th:fragment="header" id="header" class="fixed-top" style="background: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0">
            <a href="/">si
                <span>Logistik</span>
            </a>
        </h1>

        <nav th:fragment="navbar" id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li class="nav-item"><a class="nav-link" th:classappend="${page} == 'home' ? active : ''" th:href="@{/}"><span>Home</span></a></li>
                <li class="nav-item dropdrown">
                    <a class="nav-link dropdown-toggle" th:classappend="${page} == 'gudang' ? 'active' : ''" h:href="@{/gudang}" id="gudangDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Gudang</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gudangDropdown">
                        <a class="dropdown-item" th:href="@{/gudang}">Daftar Gudang</a>
                        <a class="dropdown-item" th:href="@{/gudang/cari-barang}">Cari Barang</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" th:classappend="${page} == 'barang' ? active : ''" th:href="@{/barang}"><span>Barang</span></a></li>
                <li class="nav-item"><a class="nav-link" th:classappend="${page} == 'permintaanpengiriman' ? active : ''" th:href="@{/permintaan-pengiriman}"><span>Permintaan Pengiriman</span></a></li>
                
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<head th:fragment="js">
    <script th:src="@{/vendor/purecounter/purecounter_vanilla.js}"></script>
    <script th:src="@{/vendor/aos/aos.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{vendor/php-email-form/validate.js}"></script>

    <script th:src="@{/js/main.js}"></script>
</head>
</body>
</html>
